name: build-test-deploy
on: push
jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: checkout repo
        uses: actions/checkout@v3
      
      - name: Change to project directory
        run: cd frontend || cd app || cd .  # Go to your project folder
      
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      
      - name: Install dependencies
        working-directory: ./frontend  # Add this to all steps
        run: npm install
      
      - name: Build project
        working-directory: ./frontend  # Add this to all steps
        run: npm run build
  
  test: 
    needs: build
    runs-on: ubuntu-latest
    steps: 
      - name: checkout repo
        uses: actions/checkout@v3
      
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      
      - name: Install dependencies
        working-directory: ./frontend  # Add this
        run: npm install
      
      - name: Run tests
        working-directory: ./frontend  # Add this
        run: npm test
  
  deploy:
    needs: test
    permissions:
      contents: write
      pages: write     
      id-token: write  
    environment:
      name: production
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      
      - name: configure github pages
        uses: actions/configure-pages@v3
        with:
          static_site_generator: next
      
      - name: Install dependencies
        working-directory: ./frontend  # Add this
        run: npm install
      
      - name: Build project
        working-directory: ./frontend  # Add this
        run: npm run build
      
      - name: upload artifacts
        uses: actions/upload-pages-artifact@v1
        with: 
          path: "./frontend/out"  # Update path if needed
      
      - name: deploy
        id: deployment
        uses: actions/deploy-pages@v1
